<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P2P.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D1662181AFE63AE0072495E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1662361AFE64D80072495E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3661BC1AF7B70800629175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB7138C1AFF0F2F00283451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DDB5C6F1AFF163D005E79D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
